@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Noto';
  src: url('../public/fonts/Noto_Serif_JP/NotoSerifJP-Medium.otf');
}

*,*::before,*::after 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scrollbar-color: transparent transparent;
}
*::-webkit-scrollbar {
  display: none;
}

.noto{
  font-family: 'Noto';
  font-style: italic;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
.hoverLink
{
  display: block;
  position: relative;
  padding-bottom: .1rem;
}
.hoverLink:hover.hoverLink::before
{
  transform: scaleX(1);
  transform-origin: left;
}
.hoverLink::before
{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
}

.hoverBtn:hover p
{
  color: white;
}
.hoverBtn:hover span
{
  background: white;
}

.hoverBtn__div
{
  transform: scaleY(0);
  transition: transform .3s;
  transform-origin: top;
}

.hoverBtn:hover .hoverBtn__div
{
  transform: scaleY(1);
  transform-origin: bottom;
}